#map {
    height:600px;
    width:900px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}

li{
    margin: 5px 5px;
    padding: 10px 10px;
    float:left;
    font-weight:300;
    border-radius:10px;
    box-shadow: 0px 1px 3px #cccccc;
    width:210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}